<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
     <!-- 전체 매퍼중에서 유일한 값을 사용하여야 한다.
     해서 관계적으로 해당 파일의 패스와 파일이름(확장자제외)
 	 그리고 dao 에서 namespace와 일치하여야 된다. -->
 	 	   
<mapper namespace="com.mycompany.app.code.CodeMapper">


										<!-- select 결과를 받을 객체 -->
    <resultMap id="resultMapObj" type="com.mycompany.app.code.Code"></resultMap>
    
    
    <select id="selectList" resultMap="resultMapObj">
    SELECT 
    	name,
    	codeGroup_seq
    FROM
		code  
	</select>
	
<!-- 
	<update id="update" resultMap = "resultMapObj">
	UPDATE code
		SET
			name = "투썸",
			codeGroup_seq = 1 
		
		WHERE seq = 1
		</update>	
	 -->		
	
</mapper> 