<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
     <!-- 전체 매퍼중에서 유일한 값을 사용하여야 한다.
     해서 관계적으로 해당 파일의 패스와 파일이름(확장자제외)
 	 그리고 dao 에서 namespace와 일치하여야 된다. -->
 	 	   
<mapper namespace="com.mycompany.app.infra.code.CodeMapper">


										<!-- select 결과를 받을 객체 -->
    <resultMap id="resultMapObj" type="com.mycompany.app.infra.code.Code"></resultMap>
    
    
    <sql id="abc">
    	seq,
    	codeName,
    	delNy,
    	codeGroup_seq
    </sql>
    
    <select id="selectList" resultMap="resultMapObj">
	    SELECT 
	    	a.seq,
	    	a.codeName,
	    	a.delNy,
	    	a.codeGroup_seq,
	    	b.name
	    FROM code AS a
	    LEFT JOIN codeGroup AS b ON b.seq = a.codeGroup_seq
		
	</select>

	<select id="selectOne" resultMap="resultMapObj">
    SELECT 
    	<include refid = "abc" />
    FROM
    	code
    WHERE 
		seq = #{seq}
	</select>
			
			
	<update id="update">
    UPDATE code
    SET
    	codeName = #{codeName},
    	codeGroup_seq = #{codeGroup_seq},
    	delNy = #{delNy}
    	
    WHERE 
		seq = #{seq}
	</update>		


	<update id="uelete">
    UPDATE code
    SET
    	delNy = IF(delNy = 1, '0','1')
    WHERE 
		seq = #{seq}
	</update>		
	
	
	<delete id = "delete">

	DELETE
	FROM 
		code
	WHERE 
		seq = #{seq}
		
	</delete>
	
	
	
	<insert id = "insert">

	INSERT INTO code(
		codeName
		,codeGroup_seq
		,delNy
	)	
	values(
		#{codeName}
		,#{codeGroup_seq}
		,#{delNy}
	)

	</insert>
	
	
	
</mapper> 